:root {    
    --excluded-box: #858585;
    --invalid-guess: #f00;
    --undefined-key: #d3d3d3;
}

.default {
    --perfect-box: #02f760;
    --imperfect-box: #fae60a;
}

.high-contrast {
    --perfect-box: #ffaa00;
    --imperfect-box: #00cef3;
}

html {
    --perfect-key: var(--perfect-box);
    --imperfect-key: var(--imperfect-box);
    --excluded-key: var(--excluded-box);
}

#colors-form {
    width: 0;
    height: 0;
}

#color-select {
    position: absolute;
    z-index: 99;
    top: 2svh;
    right: 2vw;
    width: min(21vw, 24svh);
    padding: 1svh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3svh;
    background-color: #bdf;
    border-radius: 1svh;
}

body {
    user-select: none;
    background: linear-gradient(to right, #782dfa, #4700c2 25%, #4700c2 75%, #782dfa 100%);
}

#boards-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    row-gap: 1svh;
    margin: 0 auto;
    width: 60vw;
    justify-content: space-around;
    height: 88svh;
    font-family: 'Times New Roman', Times, serif;
    font-size: 5svh;    
}

h1 {
    text-align: center;
    text-wrap: nowrap;
    margin: 0;
    padding: 0;
    font-family: "Luckiest Guy";
    font-size: 7svh;
    background: linear-gradient(to bottom,
                                var(--perfect-key),
                                var(--perfect-key) 50%,
                                var(--imperfect-key) 50%,
                                var(--imperfect-key) 100%);
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
}

.lost-header {
    all: inherit;
    font-size: 7svh;
}

h2 {
    text-align: center;
    font-size: 6svh;
    margin: 2svh 0;
}

#keyboard {
    display: grid;
    grid-template-columns: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    row-gap: 0;
    min-height: 110px;
}

.keyboard-row {
    display:flex;
    justify-content: space-evenly;
}

#keyboard-row-1 {
    margin: 0 2rem;
}

.key {
    width: max(2rem, 3vw);
    height: 6svh;
    border: none;
    border-radius: 1.5svh;
    font-size: 3.2svh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: var(--undefined-key);
    box-shadow: 3px 3px #444;
    transition: transform .2s ease, box-shadow .2s ease;
}

#del-key {
    width: max(3.5rem, 5vw);
    background-color: var(--undefined-key);
}

#enter-key {
    width: max(5rem, 7vw);
    background-color: var(--undefined-key);
}

.key:hover {
    background-color: #9af !important;
}

.key:active {
    box-shadow: 0 0;
    transform: translate(3px, 3px);
}

.board {
    display: grid;
    gap: .5vw;    
}

#board-1 {
    margin: 1.5svh 0 1.5svh 2.5svh;
}

#board-0 {
    margin: 1.5svh 2.5svh 1.5svh 0;
}

.board-row {
    display: flex;
    flex-wrap: nowrap;
    gap: .5vw;
    color: black;
    transition: background-color 1s ease;
}

.sample-row {
    margin-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
}

.box {
    background-color: white;
    border: 2px solid black;
    width: max(30px, 3.5vw);
    height: 6svh;
    line-height: 6svh;
    transform: rotate(0);
    transition: inherit;
}

.perfect {
    background-color: var(--perfect-box);
    transform: rotate(360deg);
}

.imperfect {
    background-color: var(--imperfect-box);
    transform: rotate(360deg);
}

.excluded {
    background-color: var(--excluded-box);
    transform: rotate(360deg);
}

.invalid-word {
    color: var(--invalid-guess);
}

.sticky {
    position: sticky;
    top: 0;
    right: 0;
}

#error-box {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: min(4vw, 4svh) min(8vw, 8svh);
    background-color: #701230;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5svh;
    border-radius: min(2vw, 2svh);
    box-shadow: 0 0 4svh #444;
    transition: visibility .5s ease, opacity .5s ease;
}

#message-box {
    z-index: 999;
    user-select: text;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 60vw;
    max-width: 95vw;
    width: 600px;
    height: 95svh;
    background-color: white;
    text-align: center;
    padding: min(5vw, 5svh) min(5vw, 5svh) 1svh min(5vw, 5svh);
    background-color: #bdf;
    color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4svh;
    border-radius: min(5vw, 5svh);
    box-shadow: 0 0 4svh #444;
    box-sizing: border-box;
    overflow: auto;
}

#dynamic-message {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.win-header {
    font-size: 10svh;
}

#message-text {
    margin: auto;
    font-size: 5svh;
}

.align-left {
    text-align: left;
}

#stats {
    font-size: 4svh;
}

.stats-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stats-bit {
    margin: 15px;
}

#success-line{
    color: var(--perfect-box);
    background-color: #222;
    font-weight: bold;
    margin: 2svh 0 0 0;
}

.slider-button-container {
    padding: 2svh 0;
    margin: 20px 0;
    border-radius: 4svh;
    background: #def;
}

.length-slider {
    width: 15vw;
}

#slider-text {
    font-size: 3svh;
}

.examples-container {
    width: 100%;
}

.example-container {
    margin-bottom: 30px;
}

.example {
    text-align: left;
}

.play-btn {
    margin: 3svh;
    padding: 1.5svh 10vw;
    font-family: inherit;
    font-size: 3.5svh;
    border: none;
    border-radius: 15px;
    background-color: #d3d3d3;
    cursor: pointer;
}

.play-btn:hover {
    background-color: #bababa;
}

#close-btn {
    user-select: none;
    position: fixed;
    text-align: center;
    top: 3svh;
    right: 3svh;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    font-family: auto;
    font-size: max(1.5vw, 2.5svh);
    color: #555;
    font-weight: bold;
    cursor: pointer;
    transition: color .3s ease;
}

#close-btn:hover {
    color: #fff;
}

footer {
    text-align: center;
    color: #333;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-top: 40px;
}